# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.pytest_cache/

# Environments
.env
.venv
venv

# File
chromedriver

# Jupyter Notebook
.ipynb_checkpoints

# MAC
.DS_Store
